@import './constants/global.scss';

body #container {
  font-family: $game-family
}

#outer-container {
  display: flex;
  flex-direction: row;
  height: 50%;
  font-family: $game-family
}
#master-container {
  // width: 66%;
}

#container {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: $core-bg;
  font-size: $font-size-header;
  justify-content: space-between;
  padding: 8px;
  width: 50%;
  padding-left: 50%;
    div {
      margin: 8px 24px 8px 0px;
      padding-right: 4px;
    }
}
#word-0 {
  color: $core-high !important;
  // margin-left: -12px !important;
}
#word-0::first-letter {
    color: #189f62;
  }
#points-container {
  width: 50%;
  color: $core-bgd;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: $core-high;
  font-size: $font-size-body;
  box-sizing: border-box;
  padding: 8px;
}
#notifications-container {
  width: 50%;
  color: $core-bgd;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: $core-link;
  font-size: $font-size-body;
  box-sizing: border-box;
    div {
    margin: 4px 16px 4px 16px;
  }
}
#lineComplete-ref {
  opacity: 0;
  transition: opacity .25s ease-in;
}
#lineComplete-ref-show {
  opacity: 1;
  transition: opacity .25s ease-in;
}
#wordComplete-ref {
  opacity: 0;
  transition: opacity .25s ease-in;
}
#wordComplete-ref-show {
  opacity: 1;
  transition: opacity .25s ease-in;
}
#sectionComplete-ref {
  opacity: 0;
  transition: opacity .25s ease-in;
}
#sectionComplete-ref-show {
  opacity: 1;
  transition: opacity .25s ease-in;
}
#pageComplete-ref {
  opacity: 0;
  transition: opacity .25s ease-in;
}
#pageComplete-ref-show {
  opacity: 1;
  transition: opacity .25s ease-in;
}