html {
    font-family: Futura, sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr calc(min(60ch, calc(100% - 64px))) 1fr;
    grid-column-gap: 32px;
  }
  body > * {
    grid-column: 2;
  }
  .full-bleed {
    width: 100%;
    grid-column: 1 / -1;
  }

hr {
width: 100%;
}