/* Coolors Exported Palette - coolors.co/003377-ebeeff-d5b0ac-e4ffa8-98dfaf */

/* Coolors Exported Palette - coolors.co/003377-ebeeff-d5b0ac-e4ffa8-e1ce7a */

/* HSL */
// $color1: hsla(214%, 100%, 23%, 1);
// $color2: hsla(231%, 100%, 96%, 1);
// $color3: hsla(6%, 33%, 75%, 1);
// $color4: hsla(79%, 100%, 83%, 1);
// $color5: hsla(49%, 63%, 68%, 1);

/* RGB */
$color1: rgba(0, 51, 119, 1);
$color2: rgba(235, 238, 255, 1);
$color3: rgba(213, 176, 172, 1);
$color4: rgba(228, 255, 168, 1);
$color5: rgba(225, 206, 122, 1);
$color6: rgb(0, 25, 57);

/* RGB */
$core-bgd: $color6;
$core-bg: $color1;
$core-fg: $color2;
$core-high: $color3;
$core-link: $color4;
$core-spot: $color5;



