#table-of-contents {
  background-color: $core-5;
}

#part-1 {
  background-color: $skip-1;
}

#part-2 {
    background-color: $skip-2;
}
#part-3 {
    background-color: $skip-3;
}
#part-4 {
    background-color: $natural-1;
}
#part-5 {
    background-color: $natural-2;
}
#part-6 {
    background-color: $high-1;

}
#part-7 {
    background-color: $high-2;
}
#part-8 {
    background-color: $cube-1;
}
#part-9 {
    background-color: $cube-2;

}