sup a::before {
    content: "";
}
.footnote-backref::before {
    content: "";
}
.footnotes {
    li {
        font-size: $font-size-footer;
    }
}

#le0c {
    color: $core-spot;
}

#table-of-contents {
    text-align: center;
}