// Global text styles
$unit: 4px;
$font-size-body: 5*$unit;
$font-size-header: 10*$unit;
$font-size-contents: 4*$unit;
$font-size-footer: 4*$unit;
$family: monospace;
$game-family: "Courier New", Courier, monospace;


